html {
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('crt-monitor-background.avif');
  /* background-position: top; */
  background-repeat: no-repeat;
  background-size:cover;
  z-index: -1;
}

#terminal {
  position: fixed;
  border-radius: 5px;
  background-color: transparent;
  color: #00FF00;
  font-family: monospace;
  overflow-y: scroll;
  z-index: 1;
  text-shadow: 0 0 5px #00ff009d;
  filter:blur(0.8px);
  transform: perspective(1000px) rotateX(-2deg) rotateY(10deg) rotateZ(-1.4deg);
}

p {
  white-space: pre-wrap;
  margin: 0;
}

input {
  background-color: transparent;
  margin-top: 8px;
  border: none;
  outline: none;
  color: #00FF00;
  font-size: 0.5vw;
  font-family: monospace;
  caret-color: #00FF00;
  filter:blur(0.6px);
}